/* CSS declarations go here */

#background {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: url(mano.gif) no-repeat center center fixed;
  position: absolute;
}
#authentication-form {
  background-color: white;
  opacity: 0.7;
  width: 400px;
  height: 300px;
  margin: 0;
  margin-top: 10%;
  border-style: solid;
}

#brand {
  height: 40px;
  margin-top: 13%;
  float:left;
  margin-left: -10%;
}

#authentication-form-btns {
  margin-top: 8%;
}

.nav-item {
  margin-left: 10%;
}

#password {
  -webkit-text-security: disc;
}

.inputs {
  background: transparent;
  border: none;
  font-size: 20px;
  width: 90%;
  border-bottom: : 1px solid black;
  border-width: 5px;
  font-family: monospace;
  outline: none;
  margin-top: 5%;
  margin-left: 10%;
}

.nav-item {
  margin-left: 10%;
}

#password {
  -webkit-text-security: disc;
}


.control-label.title-Pages{
  position:relative;
  left:2.5%;
  font-size:90px;
  font-family: Courier;
}

.buttons-style.btn.btn-primary{
  position:relative;
  left:40%;
  width:200px;
  height:75px;
  font-size:35px;
}

.btn.btn-default.btn-file{
  position: relative;
  left:2.5%;
}
